<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
<connectionStrings><add name="MeetingRoomDBEntities" connectionString="metadata=res://*/MeetingRoomDBModel.csdl|res://*/MeetingRoomDBModel.ssdl|res://*/MeetingRoomDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OTNAQPU;initial catalog=MeetingRoomDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>